{% extends 'organizer/menu.html' %}

{% block title %}Create new campaign event{% endblock %}

{% block content %}
    <div class="dashboard-content border-dashed p-3 m-4 view-height">
        <form method="post">
            <div class="mt-4 ml-4 mr-4">
                <div class="row border-bottom border-3">
                    <div class="col"><h3 class="color-header text-uppercase">
                        New event
                    </h3></div>
                    <h4 style="color: red">
                        {% if message %}
                            {{ message }}
                        {% endif %}
                    </h4>
                    <div class="col d-flex justify-content-end mb-2">
                        <button type="submit"
                                class="btn btn-success rounded-0 m-1">
                            Save
                        </button>
                        <a href="{% url 'campaign-events' %}" class="btn btn-success rounded-0 m-1">Return</a>
                    </div>
                </div>
            <table class="table borderless">
                <tbody>
                    <tr class="d-flex">
                        <th scope="row" class="col-2">Name</th>
                        <td class="col-3">
                            <input type="text" class="w-100 p-1" value="" name="name">
                        </td>
                    </tr>

                    <tr class="d-flex">
                            <th scope="row" class="col-2">Summary</th>
                            <td class="col-7">
                                <textarea style="resize: none;" class="w-100 p-1" name="summary"></textarea>
                            </td>
                    </tr>
                    <tr class="d-flex">
                            <th scope="row" class="col-2">Game master's notes</th>
                            <td class="col-7">
                                <textarea style="resize: none;" class="w-100 p-1" name="gm_notes"></textarea>
                            </td>
                    </tr>



                </tbody>
            </table>


            </div>
        {% csrf_token %}
        </form>

    </div>

{% endblock %}