{% extends 'organizer/menu.html' %}

{% block title %}Edit character{% endblock %}

{% block content %}
    <div class="dashboard-content border-dashed p-3 m-4 view-height">
        <form method="post">
            <div class="mt-4 ml-4 mr-4">
                <div class="row border-bottom border-3">
                    <div class="col"><h3 class="color-header text-uppercase">
                        Edit location
                    </h3></div>
                    <h4 style="color: red">
                        {% if message %}
                            {{ message }}
                        {% endif %}
                    </h4>
                    <div class="col d-flex justify-content-end mb-2">
                        <button type="submit"
                                class="btn btn-success rounded-0 m-1">
                            Save
                        </button>
                        <a href="{% url 'locations' %}" class="btn btn-success rounded-0 m-1">Return</a>
                    </div>
                </div>
            <table class="table borderless">
                <tbody>
                    <tr class="d-flex">
                        <th scope="row" class="col-2">Name</th>
                        <td class="col-3">
                            <input type="text" class="w-100 p-1" value="{{ location.name }}" name="name">
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th scope="row" class="col-2">Located in</th>
                        <td class="col-2">
                            <select name="parent_location">
                                <option value="">None</option>
                                {% for loc in other_locations %}
                                    <option value="{{ loc.id }}" {% if loc.id == location.parent_location.id %} selected {% endif %}>{{ loc.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th scope="row" class="col-2">Related characters</th>
                        <td class="col-2">
                            <select name="related_characters" multiple>
                                {% for char in characters %}
                                    <option value="{{ char.id }}" {% if char in location.related_characters.all %}selected {% endif %}>{{ char.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th scope="row" class="col-2"></th>
                        <td class="col-2">
                            Hold CTRL to select multiple characters
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th scope="row" class="col-2">Description</th>
                        <td class="col-7">
                            <input type="text" class="w-100 p-1" value="{{ location.description }}" name="description">
                        </td>
                    </tr>
                    <tr class="d-flex">
                            <th scope="row" class="col-2">Lore</th>
                            <td class="col-7">
                                <textarea style="resize: none;" class="w-100 p-1" name="location_lore">{{ location.location_lore }}</textarea>
                            </td>
                    </tr>
                    <tr class="d-flex">
                            <th scope="row" class="col-2">Game master's notes</th>
                            <td class="col-7">
                                <textarea style="resize: none;" class="w-100 p-1" name="gm_notes">{{ location.gm_notes }}</textarea>
                            </td>
                    </tr>



                </tbody>
            </table>


            </div>
        {% csrf_token %}
        </form>

    </div>

{% endblock %}