{% extends 'organizer/menu.html' %}

{% block title %}Main page{% endblock %}

{% block content %}
<section class="padding-medium story bg-light">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">

            <div class="col-7 ml-4">
                <h1 class="pb-1">Plan out your RPG sessions with our organizer!</h1>
                <p>Our Tabletop RPG notes organizing app allows all Game Masters to manage all the necessary information
                    about their campaigns! You can store all of your wonderful NPCs, locations, and world history here,
                    without having to look through your entire notebook during the session.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}